# Bỏ qua thư mục môi trường ảo
venv/
.venv/

# Bỏ qua các file biên dịch của dbt (dbt tự tạo lại được)
target/
dbt_packages/
logs/

# Bỏ qua file database DuckDB (CI sẽ tự tạo file mới)
*.duckdb
*.duckdb.wal

# Bỏ qua file cấu hình hệ điều hành
.DS_Store